/* General Navbar Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,58,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white; 
    padding: 1rem;
    position: relative;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav .link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.nav .link:hover {
    color: #ffcc00;
    border-radius: 5px;
}

.nav-brand li {
    font-weight: bold;
    color: #fff;
}

.hmactive{
 color:red
}

/* Hamburger menu styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}
.nav .link.active {
    color: red; 
}


/* Responsive Styles */
@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: calc(100vh - 70px);
        justify-content: flex-start;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav ul li {
        margin: 1rem 0;
    }

    .nav-menu.active ul {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    /* Hamburger icon transformation when active */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

