/* Projects Section */
.projects-section {
    padding: 4rem 2rem;
    /* background-color: #f5f5f5; */
    text-align: center;
    background-color: #333;
    color: #fff;
}

.typewriter-text{
    color:aqua;
    font-size: 30px;
    font-weight: bold;
}
.typewriter-cursor{
    color: yellow;
}
.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* Project Card */
.project {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    font-size: 1.8rem;
    color: #f76c6c;
    margin-bottom: 1rem;
}

.project p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;
}

/* Project Links */
.project-links {
    display: flex;
    justify-content: space-around;
}

.project-links a {
    color: #f76c6c;
    text-decoration: none;
    border: 1px solid #f76c6c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-links a:hover {
    background-color: #f76c6c;
    color: #fff;
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
